@page
@model GolfShopHemsida.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Din Kundvagn";
}
<h1>Din Kundvagn</h1>
@if (Model.CartItems.Any())
{
    <ul>
        @foreach (var item in Model.CartItems)
        {
            <li>@item.Item.Name - @item.Quantity x @item.Item.Price.ToString("0") kr</li>
        }
    </ul>
    <p><strong>Totalt: @Model.CartTotal.ToString("0") kr</strong></p>
    <a asp-page="/Checkout/Index" class="btn btn-primary">Till kassan</a>
}
else
{
    <p>Din kundvagn är tom</p>
}