@page
@model OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="order-confirmation-container">
    <h2>Order Bekräftelse</h2>
    <p>Tack för din köp hos oss! Ditt ordernummer är: <strong>@Model.Order.OrderId</strong></p>
    <p>Total kostnad: <strong>@Model.Order.TotalAmount.ToString("0") kr</strong></p>

    <h4>Artiklar: </h4>
    <ul>
        @foreach (var item in Model.Order.OrderItems)
        {
            <li>@item.Item.Name - @item.Quantity st</li>
        }
    </ul>

    <a asp-page="/Account/OrderHistory" class="btn btn-primary">Visa beställningar</a>
</div>

<style>
    .order-confirmation-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
    }

    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
</style>
